body, html {
    margin: 0;
    padding: 0;
}

.slider {
    width: 100%;
    height: 100px;
}

.slider p{
    margin: 0 auto;
    width: 300px;
    max-height: 0;
    overflow: hidden;
    background-color: red;
}

.slider:hover p {
  max-height: 2000px;
  transition: 3s ease; /* animate to max-height */
  cursor: pointer;    
}